.registration {
  margin: 0px 64px 100px 64px;
}

.registrationContainer {
  display: flex;
  flex-wrap: wrap;
}

.registrationTitle {
  margin: 108px 0px 18px 0px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 36px;

  color: #e75626;
}

.registrationInfo {
  width: 410px;
  font-size: 16px;
  margin-bottom: 36px;
  line-height: 120%;
}
